* {
    box-sizing: border-box;
}

.author {
    font-size: 3vw;
}

.author, .title {
    -webkit-text-stroke: 0.05vw rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.ballWrap {
    height: 5vw;
    left: 44%;
    position: relative;
    top: 6%;
    width: 5%;
}

.blackSun {
    animation: 1s linear infinite spin;
    width: 100%;
}

.buttonsWrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 16%;
    justify-content: space-evenly;
    width: 63%;
}

.chudjak {
    position: relative;
    width: 18%;
}

.closePause {
    border-left: 0.1vw black solid;
    font-size: 2vw;
    width: 11%;
}

.closePause, .closeSettingsButton {
    justify-content: center;
}

.closePause, .closeSettingsButton, .menuWrapGrab, .settingsGrab {
    align-items: center;
    display: flex;
    height: 100%;
}

.closeSettingsButton {
    border-left: 0.2vw white solid;
    font-size: 4vw;
    width: 14%;
}

.continueButton {
    cursor: pointer;
    font-size: 3.2vw;
}

.countDown {
    -webkit-text-stroke: 0.3vw black;
    color: white;
    cursor: none;
    font-size: 24vw;
    opacity: 0;
    transition: 1s;
    z-index: 1;
}

.countDown, .pauseMenu, .mainMenu {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    transition: 1s;
    width: 100%;
}

.countDownTime {
    height: 50%;
    width: 9vw;
}

.currentlyPlaying {
    font-size: 1.2vw;
    font-weight: bold;
    margin: 2% 0 0;
    transition: 1s;
}

.documentation {
    -webkit-text-stroke: 0.000000000001vw white;
    color: black;
    text-decoration: none;
}

.enemy {
    opacity: 1 !important;
}

.exit {
    border-radius: 3vw;
    color: black;
    cursor: pointer;
    font-size: 3vw;
    font-weight: bolder;
}

.exitButton {
    cursor: pointer;
    font-size: 1.5vw;
}

.game {
    background-repeat: no-repeat;
    background-size: cover;
    cursor: none;
    height: 50vw;
    overflow: hidden;
    transition: 1s;
    width: 100%;
    z-index: 0;
}

.hideButton {
    cursor: pointer;
    left: 2%;
    position: absolute;
    top: 1.5%;
    width: 1.5%;
    z-index: 3;
}

.inputValue {
    align-items: flex-start;
    display: flex;
    justify-content: center;
    margin: 0 0 0 1vw;
    width: 1vw;
}

.levelSelect {
    appearance: none;
    background-image: url(../img/rightArrow.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 50% 55%;
    border: none;
    color: black;
    cursor: pointer;
    filter: invert(1);
    font-family: "HandWritten";
    font-size: 2vw;
    outline: none;
    text-align: left;
    width: 2vw;
}

.levelSelect:focus {
    background-image: url("../img/downArrow.svg");
}

.mainMenu {
    background-image: url(../img/whiteSun.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
    z-index: 0;
}

.mainMenuButton {
    cursor: pointer;
    font-size: 2vw;
}

.mainWrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: space-between;
    margin-top: 0%;
}

.menuWrap {
    align-items: center;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    height: 27vw;
    justify-content: space-between;
    position: absolute;
    width: 25%;
}

.menuWrapGrab {
    font-size: 2vw;
    padding: 0 0 0 3%;
    width: 89%;
}

.menuWrapGrab, .settingsGrab {
    cursor: grab;
    justify-content: flex-start;
}

.menuWrapGrab:active, .settingsGrab:active, input[type="range"]:active {
    cursor: grabbing;
}

.musicPlayer {
    align-items: center;
    background: rgba(26, 26, 26, 0.84);
    border-radius: 1vw;
    color: white;
    display: flex;
    flex-direction: column;
    height: 10vw;
    justify-content: space-evenly;
    left: 1%;
    position: fixed;
    top: 1%;
    transition: 1s;
    width: 20%;
    z-index: 2;
}

.option {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 2vw;
    justify-content: space-between;
    width: max-content;
}

.optionName {
    padding: 0 1vw 0 0;
}

.options {
    align-items: center;
    border-bottom: 0.2vw solid white;
    border-image: initial;
    border-left: 0.2vw solid white;
    border-radius: 0 0 3vw 3vw;
    border-right: 0.2vw solid white;
    border-top: none;
    display: flex;
    flex-direction: column;
    font-size: 4vw;
    font-weight: bolder;
    height: 90%;
    justify-content: space-evenly;
    width: 100%;
}

.optionsText {
    border-radius: 3vw;
    color: black;
    cursor: pointer;
    font-size: 4vw;
    font-weight: bolder;
}

.pauseMenu {
    transition: 0.5s;
    z-index: 1;
}

.pauseMenuButtons {
    align-items: center;
    border-radius: 0 0 1vw 1vw;
    border-top: none;
    border: 0.1vw solid black;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-evenly;
    width: 100%;
}

.pauseMenuWindowControls {
    align-items: center;
    background: #747474;
    border-radius: 1vw 1vw 0 0;
    border: 0.1vw solid black;
    color: white;
    display: flex;
    flex-direction: row;
    height: 3vw;
    justify-content: space-between;
    width: 100%;
}

.resetLocal {
    cursor: pointer;
}

.restartButton {
    cursor: pointer;
    font-size: 2vw;
}

.rewindButton {
    transform: rotate(180deg);
}

.rewindButton, .pauseButton, .forwardButton {
    cursor: pointer;
    width: 15%;
}

.settings {
    align-items: center;
    background: black;
    border-radius: 3vw;
    color: white;
    display: flex;
    flex-direction: column;
    height: 30vw;
    justify-content: space-between;
    position: absolute;
    right: 2%;
    transition: 1s;
    width: 35%;
    z-index: 3;
}

.settingsButtons {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-evenly;
    width: 100%;
}

.settingsGrab {
    font-size: 3vw;
    padding: 0 0 0 4%;
    width: 86%;
}

.settingsX, .pauseX {
    cursor: pointer;
}

.startButton {
    border-radius: 3vw;
    color: black;
    cursor: pointer;
    font-size: 4vw;
    font-weight: bolder;
}

.timeInput {
    margin: -3% 0 0;
    width: 81%;
}

.title {
    font-size: 5.5vw;
}

.titleWrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -13%;
}

.transgenderFlag {
    height: 78%;
    opacity: 0;
    transition: 1s;
    width: 84%;
}

.volumeInput {
    width: 32%;
}

.windowControls {
    align-items: center;
    background: #545454;
    border-radius: 3vw 3vw 0 0;
    border: 0.2vw solid white;
    color: black;
    display: flex;
    height: 14%;
    justify-content: space-between;
    width: 100%;
}

.wrap0 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5vw 5vw 5vw 5vw 5vw;
    height: 25vw;
    place-items: center;
    width: 100%;
}

body {
    align-items: center;
    background: black;
    box-sizing: border-box;
    display: flex;
    font-family: HandWritten;
    height: 100%;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    overflow: hidden;
    padding: 0;
    user-select: none;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

input[type="range"] {
    appearance: none;
    border-radius: 1vw;
    cursor: grab;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 0.5vw;
    width: 1%;
}

option {
    background: black;
    color: white;
}

@font-face {
    font-family: HandWritten;
    src: url("../fonts/HandWritten.ttf");
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

